@font-face {
    font-family: 'iranSans';
    font-weight: normal;
    src: url(../public/Font/IRANSansMobile.ttf);

}
@font-face {
    font-family: 'iranSans';
    font-weight: bold;
    src: url(../public/Font/IRANSansMobile_Bold.ttf);

}
body{
    width: 100%;

}
*{
    box-sizing: border-box;
    color:#333;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type:none ;
    font-family: 'iranSans';
    direction: rtl;
}
